<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sw.rotationsend"
    android:versionCode="1"
    android:versionName="0.1"
    android:resizeableActivity="true">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

  <application
      android:label="RotationSend"
      android:theme="@style/NoActionBar">
    <activity
        android:name=".MainActivity"
        android:label="RotationSend"
        android:launchMode="singleTop"
        android:exported="true"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
